@font-face {
    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('archivonarrow.ttf') format('truetype');
}

body
{
    padding-top: 50px;
    background-color: #D0D0D0;
    margin-bottom: 50px;
    font-family: "Archivo Narrow", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.group {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1.1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
    display: block;
    text-decoration: none;
}

a.group:hover
{
    background: #1EAEDB;
    color: #fff;
}

a.group.active
{
    background: #1EAEDB;
    color: #fff;
}

.component_input:disabled
{
    cursor: not-allowed;
}

textarea.component_input
{
    resize: vertical;
    overflow: auto;
    white-space: pre;
}

.header {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.component_label {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    font-weight: 600;
    cursor: help;
}

h3.title
{
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.component
{
    position: relative;
}

.component_units
{
    position: absolute;
    right: 10px;
    line-height: 39px;
    color: #aaa;
}

#component_editor
{
    position: absolute;
}

#component_editor button
{
    padding: 0;
    width: 40px;
}

button.cancel_button, button.cancel_button:focus
{
    background-color: #F03333;
    border-color: #F03333;
}

button.cancel_button:hover
{
    background-color: #DB1E1E;
    border-color: #DB1E1E;
}

#component_editor button:first-of-type
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#component_editor button:last-of-type
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pulse{
    animation: pulse linear 0.25s 1;
    border-radius: 4px;
}

@keyframes pulse {
    0% {
        border-color: #1d678e;
        box-shadow: 0 0 5px rgba(30,174,291,.2)
    }
    25% {
        border-color: #1EAEDB;
        box-shadow: 0 0 20px rgba(30,174,291, .6)
    }
    100% {
        border-color: rgba(30, 174, 291, 0);
        box-shadow: 0 0 0px rgba(30, 174, 291, .6)
    }
}

.loading {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;
    top : 40px;
    background-color: transparent;
    border-radius: 100%;
    animation: loading-spin 1s infinite linear;
    z-index: 1000;
}

.loading:after {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    border: 5px solid transparent;
    border-radius: 100%;
    box-shadow: 0.14em 0.14em 0.14em #fff;
}

@keyframes loading-spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.component_info
{
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ADADAD;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1EAEDB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1EAEDB;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.login-error
{
    line-height: 38px;
    color: #F03333;
    text-align: center;
}

#toolbar>button
{
    padding: 0;
    width: 40px;
    height: 40px;
}

.component-toolbar
{
    text-align: right;
}

.series-toggle
{
    cursor: pointer;
    color: darkgray;
}

.series-toggle:hover
{
    color: #1EAEDB;
}

.series-toggle.active
{
    color: #1EAEDB;
}

#chart
{
    display: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.read-only-value
{
    margin-bottom: 15px;
    font-size: 125%;
}

.read-only-value .component_units
{
    line-height: inherit;
    right: 0;
}