[Unit]
Description=z99bunkerbox

[Service]
EnvironmentFile=/etc/docker.env
Type=oneshot
ExecStart=/usr/local/bin/node /usr/src/app/bunker_controller.js
Restart=on-failure

[Install]
WantedBy=basic.target
