[Unit]
Description=z99bunkerbox

[Service]
EnvironmentFile=/etc/docker.env
Type=OneShot
ExecStart=/usr/local/bin/node /usr/src/app/bunker_controller.js &>> /data/bunkerbox.log
Restart=on-failure

[Install]
WantedBy=basic.target